doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie-edge')
  title #{title}
  script(src="//code.jquery.com/jquery-3.4.1.min.js")
  script(src="https://momentjs.com/downloads/moment.js")
  link(rel='stylesheet' type='text/css' href='css/style.css')
  link(rel='stylesheet' type='text/css' href='css/profile.css')
  link(rel='stylesheet' type='text/css' href='css/messageBoard.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css')

.section
  .box-1
    #searchMenu
      input(type="text" name="search" placeholder="Search you chats..." autocomplete="off")
    .head 
      h2 YOUR TUTORS
    #yourTutors
    .head 
      h2 YOUR STUDENTS
    #yourStudents
  .box-2
    .chat-header
      img.circleCrop#imgHeading(alt='Profile Pic')
      h5#chatHeading
      //- form#signupformA(action='/deleteUser' method='post')
      //-   .button.top-right(style="width: 200px")
      //-     input(type="submit" value='Delete this user')
      #callButtons
        button#startButton Call
    .chatMessages
    .chat-form-container
      form#chat-form
        input(id="textmsg" type="text" name="chat" placeholder="Aa" autocomplete="off")
        input#send(type='submit' value='↑')
form#signupformA(action='/' method='get')
  .button.in-line(id = "fixedButton")
    input(type='submit' value='Return Home')

p.hidden(id='userData')
p.hidden(id='tutorChatData')
p.hidden(id='studentChatData')

script(src="socket.io/socket.io.js")
script.
  document.getElementById('userData').value = !{JSON.stringify(userData)};
  document.getElementById('tutorChatData').value = !{JSON.stringify(tutorChatData)};
  document.getElementById('studentChatData').value = !{JSON.stringify(studentChatData)};
script(src="js/messageBoardView.js")