doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie-edge')
  title #{title}
  link(rel='stylesheet' type='text/css' href='style.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css')
.column
  h1 Become a tutor
  p Become a tutor for students
.app
  .content
    .container__signup.signup__form
      form#signupformA(action='become-tutor' method='post')
        .form-group
          label(for='age') Age
          br
          input#firstname.form-control(type='text' name='age' placeholder='Age' required='')
        .form-group
          label(for='subjects') Subjects you can teach
          br
          input#lastname.form-control(type='text' name='subjects' placeholder='Subjects' required='')
        .form-group
          label(for='email') City
          br
          input#email.form-control(type='text' name='city' placeholder='City' required='')
        .button
          input(type='submit' value='Sign Up')
        p Want to find a tutor instead? #[a(href='/findTutor') Find a tutor]
script(type='text/javascript' src='app.js')
