doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie-edge')
  title #{title}
  link(rel='stylesheet' type='text/css' href='css/style.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css')
  title Sign Up for Berri
.column
  h1 Go Berri
  p Join the ever-increasing market of high school tutors today
  a(href="/signup") Sign Up!
  br
  a(href="/login") Login!
