doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie-edge')
  title #{title}
  link(rel='stylesheet' type='text/css' href='style.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css')
  title Sign Up for Berri
.column
  h1 Go Berri
  p Join the ever-increasing market of high school tutors today
.app
  .content
    .container__signup.login__form
      form#signupformA(action='loginAuth' method='post')
        .form-group
          label(for='email') Email
          br
          input#email.form-control(type='text' name='email' placeholder='Email Address' required='')
        .form-group
          label(for='password') Password
          br
          input#password.form-controlawdawd(type='password' name='password' placeholder='Password' required='')
        .button.styleOne
          input(type='submit' value='Login')
      p Don't have an account? #[a(href="/") Sign up now!]
script(type='text/javascript' src='app.js')
