<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Document</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
<title>Sign Up for Berri</title>
</head>
<body>
  <div class = "container">
    <div = "column">
      <img src="https://ibb.co/T4SMFX9" alt="Profile Pic">
    </div>
    <div class = "column">
      <div class = "head">
      <h1> Hello, {name here}!</h1>
      <p> You have signed up for Berri</p>
      </div>
      <div class="button">
        <a href="/become-a-tutor">Become a Tutor</a>
        <a href="/find-a-tutor">Find a Tutor</a>
      </div>
    </div>
  </div>
</body>
</html>