body {
    background: rgb(255, 255, 255);
    font-family: Roboto;
    overflow: visible;
}

.column2 {
    padding-top: 20px;
    padding-left: 50px;
    width: 30%;
    float: left;
    font-size: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.img {
    right: 30px;
    height: auto;
    width: 300px;
}

.head h1 p {
    text-align: center;
    left: 0px;
}

a {
    width: 100%;
    border: 0px;
    font: 1000 20px Roboto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
    font-size: small;
}

.btn-group button{
  left: 10px;
  float: left;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.styleTwo {
    display: inline-block;
    background: rgb(253, 145, 145);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 250px;
    line-height: 280%;
}