body {
  background: rgb(255, 255, 255);
  font-family: Roboto;
  overflow: visible;
}

.column {
  float: left;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
  overflow: visible;
  margin: left;
}

.section {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  margin: 20px;
}

#leftSection {
  padding: 20px 50px 5px 50px;
}

#rightSection {
  padding: 1px 20px 45px 20px;
}

.img {
  width: 100%;
  height: auto;
}

p {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 200;
}

#logout {
  border-radius: 28px;
  margin: auto;
}

h1 {
  font-size: 75px;
  padding-left: 20px;
}

.btn-group {
  text-align: left;
}

#FindTutor,
#BecomeTutor {
  display: inline-block;
  background: rgb(253, 145, 145);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 250px;
  margin-top: 5px;
  margin-left: 20px;
  line-height: 280%;
}

a {
  text-decoration: none;
  text-align: center;
}

.clear {
  clear: both;
}